# Dependencies - ignore node_modules everywhere
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.local
.env.*.local

# Logs
*.log

# Build folders
dist/
build/

# OS files
.DS_Store